*
{
	font-family: sans-serif;
}

#wrapper
{
	width: 800px;
	margin: auto;
	margin-top: 20px;
}

#header
{
	background-color: #A3A3A3;
	padding: 5px;
	overflow: hidden;
}

#headerTitle
{
	float: left;
	margin: 0;
	padding: 0;
	padding-top: 9px;
}

#headerTitle a
{
	color: black;
	text-decoration: none;
}

#headerTitle a:hover
{
	color: #E3E3E3;
}

#headerButtons
{
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;

}
#headerButtons li
{
	width: 75px;
}

#loginButton
{
	margin-bottom: 5px;
}

#body
{
	background-color: #E3E3E3;
	padding: 20px;
	margin-top: 5px;
}

#loginForm
{
	width: 400px;
	margin: auto;
}

#footer
{
	background-color: #E3E3E3;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
}

#footer p
{
	margin: 0;
	padding: 0;
	font-size: 11px;
}