#wrapper
{
	width: 700px;
	margin: auto;
	background-color: #e3e3e3;
}

#header
{
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid gray;
}

#header_title
{
	float: left;
	margin: 0;
}

#header_buttons
{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header_buttons li
{
	display: inline;
}

#search_box
{

}

#search_list
{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid gray;
}

#search_list li
{
	display: inline;
}

#search_form input
{
	display: inline;
}

#search_input
{
	height: 25px;
	width: 300px;
}

#search_button
{

}

.button
{
	height: 30px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	background-color: #EEEEEE;
	display: block;
}

.button:hover
{
	cursor: pointer;
	background-color: #A0A0A0;
}

#body
{
	padding: 10px;
}

#body_title
{
	text-align: center;
	margin: 0;
}

#apps_list
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.app_item
{
	clear: both;
	overflow: hidden;
	padding: 5px;
	border-top: 1px solid gray;
}

.item_left
{
	float: left;
	width: 10%;
}

.item_right
{
	width: 90%;
	float: right;
}

.app_icon
{

}

.app_title
{
	margin: 0;
	padding-bottom: 3px;
}

.app_desc
{
	margin: 0;
}

#footer
{
	text-align: center;
	color: darkgray;
	font-size: 12px;
	padding: 5px;
	border-top: 1px solid gray;
}
